<h1>Add New hospitals</h1>
<form action="/hospitals" method="POST">
  <input type="text" name="hospitalName" placeholder="Hospital Name" required>

  <input type="text" name="location" placeholder="Location" required>
  <input type="number" name="numberOfBeds" placeholder="Number of Beds" required>
  <input type="number" name="numberOfDoctors" placeholder="Number of Doctors" required>
  <button type="submit">Create</button>
</form>
<a href="/hospitals">Back</a>
